<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension 
         point="org.eclipse.ui.preferencePages">
       <page
             category="org.eclipse.andmore.preferences.main"
             class="org.eclipse.andmore.android.localization.translators.preferences.ui.TranslationPreferencePage"
             id="org.eclipse.andmore.android.localization.translators.preferencepage"
             name="%preferencePageName">
       </page>
   </extension>

   <extension
         id="org.eclipse.sequoyah.localization.tools.googleTranslator"
         name="%translator.google"
         point="org.eclipse.sequoyah.localization.tools.translator">
      <translator
            brandingImage="icons/google-branding.png"
            class="org.eclipse.andmore.android.localization.translators.GoogleTranslator"
            name="%translator.google">
      </translator>
   </extension>
</plugin>
