<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="status.handsetonline"
         point="org.eclipse.sequoyah.device.framework.status">
      <status
            canDeleteInstance="false"
            canEditProperties="true"
            id="org.eclipse.andmore.android.handset.status.handsetonline"
            image="icons/started-icon-16x16.png"
            name="%status.online">
      </status>
   </extension>
   <extension
        id="androidHandset"
        name="androidHandset"
        point="org.eclipse.sequoyah.device.framework.deviceTypes">     
     	<deviceType
            dropSupportHandler="org.eclipse.andmore.android.handset.HandsetDropSupportHandler"
            handler="org.eclipse.andmore.android.handset.AndroidHandsetHandler"
            icon="icons/plate16.gif"
            id="org.eclipse.andmore.android.handset.androidHandset"
            isAbstract="false"
            isPersistent="false"
            label="%android.handset.name"
            name="%android.handset.name"
            supportsUserInstances="false">
     	</deviceType>     
   </extension>
   <extension
         id="initHandsetService"
         name="initHandsetService"
         point="org.eclipse.sequoyah.device.framework.service">
      <service
            copyright="Copyright (C) 2012 The Android Open Source Project"
            description="Service to initialize an Android Handset"
            handler="org.eclipse.andmore.android.handset.DummyServiceHandler"
            icon="icons/iniciate-icon-16x16.png"
            id="org.eclipse.andmore.android.handset.initHandsetService"
            name="%initServiceName"
            provider="Eclipse.org"
            version="0.1.0"
            visible="false">
      </service>
   </extension>   
   <extension
         id="org.eclipse.andmore.android.handset.androidHandset"
         name="%initServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="org.eclipse.andmore.android.handset.initHandsetService">
         <status
               endId="org.eclipse.andmore.android.handset.status.handsetonline"
               haltId="org.eclipse.andmore.android.handset.status.handsetonline"               
               startId="OFF">
         </status></service>
   </extension>  
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.andmore.android.handset.ui.AndroidPropertiesPage"
            id="android.handset.device.property.page"
            name="%android.handset.device.property.page.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.andmore.android.handset.AndroidHandsetInstance">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="android.handset.device.property.page"
            class="org.eclipse.andmore.android.handset.ui.DevicePropertiesPage"
            id="android.handset.device.properties.page"
            name="%android.handset.device.properties.page.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.andmore.android.handset.AndroidHandsetInstance">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>   
</plugin>
